html {
    font-size: 62.5%;
}

body {
    background-color: #ffffff; 
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

.main-container {
    display: block;
    width: 100vw;
    margin: 0 auto;
}

.container {
    display: block;
    padding: 16px;
    width: 75%;
    max-width: 100%;
    margin: 0 auto;
    max-width: 1198px;
}

header {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 140px;
    padding: 0000;    
    width: 100%;
    border-bottom: 3px solid #254159;
}

h1 {
    font-size: 2.0em;
    color: #254159;
    margin-bottom: 24px;
}

h2 {
    font-size: 2rem;
    color: #254159;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.8rem;
    color: #254159;
    margin-bottom: 20px;
    padding-top: 10px;
}

h4 {
    font-size: 1.6rem;
    color: #385874;
    margin-bottom: 10px;
    padding-top: 10px;
}

p {
    margin-bottom: 10px;
    line-height: 1.4;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    min-width: 196px;
   
}

#tenho-interesse {
    background-color: #b8c8d6;
    width: 100%;
    border-top: 3px solid #254159;
    margin: auto;
}

#tenho-interesse form,
.cognito.c-med .c-forms-form,
.cognito.c-med .c-forms-form div {
    background-color: #ffffff !important;
    width: 40%;
    min-width: 280px;
    margin: 0, auto;
    padding: 20px;
    border-radius: 2px;
    
}

#tenho-interesse .cognito .c-forms-form .c-forms-form-title h2,
#tenho-interesse .cognito label[for], .cognito input[type=radio], .cognito input[type=checkbox] {
    color: #385874;

}

ol {
    margin-left: 30px;
}

ol li {
    font-size: 1.4rem;
    color: #454545;
    line-height: 24px;
}

section {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.5rem; /* equivalente a 15px */ 
}

section nav {
    margin: 0 auto;
    padding: 10px;
    width: 60%;
  }

nav li {
    background-color: #efefef;
    margin: 1px 20px 1px 0;
    padding: 10px;

}

nav li:hover {
    background-color: #dfdfdf;
}

nav a {
    text-decoration: none;
    color: #254159;
}

nav a:hover {
    color: #385874;
}

section article {
    display: block;
    width: 80%;
}

footer {
    background-color: #254159;  
    display: block;
    float: left;
    width: 100%;
    text-align: center;
}

footer p {
    color: #ffffff;
    font-size: 1.4rem;
}

footer small {
    font-size: 80%;
    display: block;
}


.cognito {
    height: 350px !important;
    overflow: hidden !important;
}

@media (max-width: 425px) {
    section nav,
    section article {
        width: 100%;
    }  

    .container {
        padding-left: 1%;
        padding-right: 1%;
    }
}

@media (max-width: 768px) {
    section nav {
        width: 100%;
    }
  
    section article {
        width: 100%;
    }
}